.home-container {
  background-color: var(--primary-tan);
  overflow-x: hidden;
}
/*=================================== Navbar.css ===========================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-tan);
  color: white;
  padding: 6px;
}

.group-logo {
  height: 65px;
  width: 60px;
  margin-left: 40px;
}
.icon-picture-container {
  display: flex;
  gap: 13px;
  margin-left: 200px;
  color: #af6a13;
}
.icon-picture-container i {
  font-size: 25px;
  cursor: pointer;
  transition: 500ms;
}
.icon-picture-container i:hover {
  color: white;
}
.friend-request-container,
.message-request-container,
.notification-container {
  position: relative;
}
.friend-request-list,
.message-request-list,
.notification-list {
  position: absolute;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  left: -100px;
  width: 200px;
  margin-right: 20px;
  transition: 500ms;
}
.friend-request-list.show,
.message-request-list.show,
.notification-list.show {
  opacity: 1;
  visibility: visible;
  transition: 500ms;
}
.navbar__links {
  font-size: 14px;
  font-weight: 600;
  background-color: #f2f8fd;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  width: 90%;
  overflow: hidden; /* Ensure content is hidden when height is 0 */
  max-height: 0;
  transition: 1s;
}

.navbar__links--open {
  max-height: 500px; /* Set a large enough max-height to fit content */
  transition: 1s;
}

.navbar__links a {
  color: black;
  text-decoration: none;
  display: flex;
  padding: 11px;
  align-items: center;
  justify-content: space-between;
}
.navbar__links a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Black color with 50% opacity */
}
.navbar__toggle {
  width: 30px;
  height: 35px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  margin-top: 25px;
  gap: 5px;
}
.navbar__toggle:hover {
  cursor: pointer;
  opacity: 0.5;
}
.navbar__toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.navbar__toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar__toggle.open span:nth-child(2) {
  opacity: 0;
}

.navbar__toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.link-plus {
  color: rgb(110, 109, 109);
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .navbar__links {
    display: flex;
    gap: 20px;
    flex-direction: row;
    position: revert;
  }

  .navbar__links a {
    color: white;
    text-decoration: none;
  }

  .navbar__toggle {
    display: none;
  }
}
/*===============================================HERO CSS==============================================/*
/* Basic container styling */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("../assets/HomePageAssets/HeroImage.png"); /* Update path if needed */
  background-position: center;
  background-size: cover; /* Keeps the entire image visible */
  background-repeat: no-repeat;
  text-align: center;
}

.hero__content {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Semi-transparent background for readability */
}

.hero__content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero__content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero__button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

/*==========================================ABOUT================================================*/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: var(--primary-tan);
}
/*==========================================FOOTER================================================*/
.footer {
  background-color: var(--primary-tan);
  overflow-x: hidden;
}
.footer-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer-image-container img {
  width: 100px;
  height: 100px;
}
.footer-text-container {
  position: relative;
  background-color: red; /* Bottom section color */
  height: 300px;
  width: 100%;
  border-radius: 300% 300% 0% 0%;
  padding: 20px;
}
